.selector {
	display: table;
	position: fixed;
	color: var(--cell-foreground);
	border-radius: 5pt;
	user-select: none;
	border: 1px solid transparent;
	transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out, border-color 250ms ease-in-out;
	animation: animate-entrance-slide-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

	&.language {
		top: 16pt;
		left: 16pt;
	}

	&.size {
		top: 16pt;
		right: 16pt;
	}

	&.visible {
		background-color: var(--cell-background);
		box-shadow: 0px 5px 10px var(--cell-shadow-color);
		border: 1px solid var(--cell-border-color);
		z-index: 999;

		.popup {
			opacity: 1;
			pointer-events: all;
			transform: translate(-50%, 0%) scaleY(1);
			transition: opacity 150ms ease-out, max-height 350ms ease-in-out;
		}
	}

	* {
		font-family: 'Cousine', 'Roboto Mono', monospace;
		font-weight: bolder;
	}

	.inner {
		display: inline-block;
		padding: 5pt 7.5pt;
		cursor: pointer;
		text-align: center;
		min-width: 100pt;

		img {
			margin-left: 5pt;
			vertical-align: text-top;
		}
	}

	.popup {
		display: table;
		pointer-events: none;
		opacity: 0;
		position: absolute;
		background-color: var(--cell-background);
		color: var(--cell-foreground);
		box-shadow: 0px 5px 6px var(--cell-shadow-color);
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-top: none;
		border-bottom-left-radius: 5pt;
		border-bottom-right-radius: 5pt;
		top: calc(100% + 1px);
		left: 50%;
		transform: translate(-50%, -55%) scaleY(0);
		transition: opacity 150ms ease-out, transform 150ms ease-out;

		small {
			font-size: 6pt;
			margin-bottom: 0.5em;
			opacity: 0.25;
			white-space: nowrap;
		}

		table, tr, td {
			border: none;
		}

		table {
			border-collapse: collapse;

			tr {
				position: relative;
				cursor: pointer;

				&:hover {
					background-color: var(--cell-foreground-on-surface);
					color: var(--background);

					td {
						&:first-child {
							border-radius: 5pt 0px 0px 5pt;
						}

						&:last-child {
							border-radius: 0px 5pt 5pt 0px;
						}

						&:only-child {
							border-radius: 5pt;
						}
					}
				}

				td {
					padding: 2pt;

					img {
						margin-left: 2.5pt;
						vertical-align: middle;
						text-align: center;
					}
				}

			}
		}
	}
}