@media only screen and (max-width: 768px) {

    html {
        --cell-size: min(calc(100vw / 6.5), calc(100vh / 12.5));
    }

    body {
        flex-direction: column;
        justify-content: space-around;
    }

    div.keyboard {
        margin: 0pt;
        margin-bottom: 10pt;
        font-size: min(5vw, 2.5vh);
        place-self: end;
        min-width: 80vw;
        gap: 0.15em;
    }

    div.keyboard div.row {
        gap: 0.15em;
    }

    div.keyboard div.key {
        min-width: 1.75em;
        min-height: 1.95em;
        line-height: 1.95em;
    }

    div.keyboard div.key:hover {
        transform: none;
    }

}